body {
	background-color: #100149;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Header */
header {
	display: flex;
	flex-direction: column;
	text-align: center;
}
/* Navigation */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	font-size: larger;
}
.logo a {
	color: #7b63d2;
}
ul {
	display: flex;
	gap: 10px;
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #604ee2;
}
a:hover {
	color: #b68ef0;
}
@media only screen and (max-width: 1000px) {
	ul {
		display: none;
		
	}
	.logo a{
		font-size: larger;
	}
}
@media only screen and (max-width: 500px) {
	ul {
		display: none;
		flex-wrap: wrap;
	}

}

/* Main */
section {
	text-align: center;
	color: white;
}
h1 {
	color: #7e61f5;
}
h2, h3 {
	color: #b68ef0;
}
p {
	font-size: larger;
}
.about-us p {
	text-align: justify;
	padding-left: 15px;
	padding-right: 15px;
}
#mission p {
	text-align: justify;
	padding: 10px;
}

/* Services */
#services {
	padding-top: 20px;
	padding-bottom: 150px;
	
}
.services {
	display: flex;
	gap: 10px;
	padding-left: 10px;
	padding-right: 10px;		
}
.service {
	height: 400px;
}
.service p {
	text-align: justify;
	background-color: #642df8;
	border: 5px solid black;
	border-radius: 10px;
	padding: 10px;
	height: 300px;
}
h3 {
	text-align: center;
	/* background-color: #642df8; */
	height: 50px;
	/* padding-top: 20px; */
	
}
@media only screen and (max-width: 1000px){
	.services {
		display: flex;
		flex-wrap: wrap;
	}

	.service p{
		height: 150px;
	}
}
/* Contact */
.contact-us {
	padding-top: 50px;
}

/* footer */
footer {
	text-align: center;
	color: white;
}